html {
  background-image: url('../../images/dactyl-manuform-2.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0;
}

body {
  min-height: 100vh;
}

.home-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.lighter-overlay {
  background: rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}
