.navbar:not(top-nav-collapse) {
  background: transparent;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 600px) {
  .navbar,
  .scrolling-navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-weight: 300;
  width: 100%;
}

.nav-container {
  margin: 0 16.65%;
  height: 100%;
}

.nav-link {
  padding: 12px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 50;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.selected {
  background-color: rgba(255, 255, 255, 0.1);
}
